* {
  margin: 0;
  padding: 0;
}

h1.header_text {
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto";
  margin-top: 13px;
}

.main_bg {
  background-image: url("./images/slider1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

h1.ruhi {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  text-align: start;
  padding-left: 16px;
  color: #60a5a5;
}

/* .bg_img_left_section {
  background-color: #60a5a5;
  /* opacity: 0.8; */
/* width: 100%;
float: left;
height: 120px;
position: absolute;
bottom: 0;
} */

/* .heading_porecelain {
  text-align: center;
  /* margin-top: 24px; */
/* color: white;
font-size: 73px;
font-family: 'Roboto';
} */

/* .make_an_appoinment {

  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  color: white;
  font-family: 'Roboto';
} */

/* .bg_img_right_section {
  background-color: black;
  float: right;
  width: 100%;
  height: 20px;
} */
button.w3-button.w3-teal.w3-xlarge.w3-left {
  background-color: white !important;
  color: black !important;
}

spam.make_appoinment {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto";
  color: #60a5a5;
}

.bg_slider {
  background-image: url("./images/slider1.jpg");
  height: 500px;
}

h4.slider_text_right_side {
  font-size: 67px;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

h4.slider_text_left_side {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 20px 0px 0px 0px;
}

.thirds_about_us {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
  border-bottom: 3px solid #60a5a5;
  width: 15%;
  text-align: center;
  margin: 0 auto;
}

p.thirds_para {
  margin-top: 15%;
  font-family: "Roboto";
}

.gallery_heading {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid #60a5a5;
  width: 7%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services_heading {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  border-bottom: 3px solid #60a5a5;
  width: 11%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section_4_1 {
  font-size: 19px;
  font-family: "Roboto";
  font-weight: 600;
  color: #60a5a5;
}

p.section_4_2 {
  font-family: "Roboto";
  color: #60a5a5;
}

button.section_4_3 {
  border: none;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #60a5a5;
  font-family: "Roboto";

  font-weight: 600;
}

button.section_4_31 {
  border: none;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #60a5a5;
  font-family: "Roboto";

  font-weight: 600;
}

button.section_4_3:hover {
  border: none;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: #000000;
  font-family: "Roboto";
  font-weight: 600;
}

#img_testimonial {
  text-align: center;
  margin: 0 auto;
  border: 2px solid #60a5a5;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }

  .right {
    display: none;
  }
}

p.testimonial_para {
  font-family: "Roboto";
  text-align: justify;
  padding: 21px;
  font-weight: 600;
}

.contact_us_heading {
  font-weight: 600;
  font-family: "Roboto";
  color: #60a5a5;
}

.contact_us_heading1 {
  font-weight: 600;
  font-family: "Roboto";
  color: #ffffff;
  font-size: 20px;
}
